.inputContainer{
    display: flex;
    height: 45px;
}

.input {
 margin-bottom: 10px;
 border-radius: 15px;
 background-color: Snow;
 text-align: center;
 height: 35px;
 width: 400px;
 color: #5c5469;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 border: #5c5469;
}

.input::placeholder {
  color: #5c5469;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

input:focus {
  outline: none;
}
